<h1 class="text-center mt-2"><span class="badge badge-pill badge-dark">Add recipe</span></h1>
<div *ngIf="errors.length > 0" class="alert alert-danger">
    <ul>
        <li *ngFor="let errorMessage of errors">{{ errorMessage }}</li>
    </ul>
</div>
<form class="mx-auto w-25 bg-blur rounded" [formGroup]="form" (ngSubmit)="onSubmit()">

    <div class="form-group">
        <div class="label-holder text-white textCol d-flex justify-content-center">
            <label for="name" class="h4 mb-2">Name</label>
        </div>
        <input formControlName="name" type="text" class="form-control" id="name" name="name">
        <div *ngIf="form.get('name')?.hasError('required') && (form.get('name')?.dirty || form.get('name')?.touched)">
            Name is required.
        </div>
    </div>

    <div class="form-group">
        <div class="label-holder text-white textCol d-flex justify-content-center">
            <label for="ingredients" class="h4 mb-2">Ingredients</label>
        </div>
        <input formControlName="ingredients" type="text" class="form-control" id="ingredients" name="ingredients">
        <div *ngIf="form.get('ingredients')?.hasError('required') && (form.get('ingredients')?.dirty || form.get('ingredients')?.touched)">
            Ingredients are required.
        </div>
    </div>

    <div class="form-group">

        <div class="label-holder text-white textCol d-flex justify-content-center">
            <label for="category" class="h4 mb-2">Category</label>
        </div>
        <select class="browser-default custom-select" id="category" name="category" formControlName="category">
            <option value="">Select category</option>
            <option value="MAIN_DISH">MAIN_DISH</option>
            <option value="DESSERT">DESSERT</option>
            <option value="COCKTAIL">COCKTAIL</option>
        </select>

        <div *ngIf="form.get('category')?.hasError('required') && (form.get('category')?.dirty || form.get('category')?.touched)">
            Choose a category
        </div>
    </div>

    <div class="button-holder d-flex justify-content-center">
        <button type="submit" [disabled]="!form.valid" class="btn btn-warning  mb-3">Add recipe</button>
    </div>

</form>
