<form class="mx-auto w-25 bg-blur rounded" [formGroup]="updateForm" (ngSubmit)="onSubmit()">

    <div class="form-group">
        <div class="label-holder text-white textCol d-flex justify-content-center">
            <label for="name" class="h4 mb-2">Name</label>
        </div>
        <input formControlName="name" type="text" class="form-control" id="name" name="name" [(ngModel)]="recipe.name">
        <div *ngIf="updateForm.get('name')?.hasError('required') && (updateForm.get('name')?.dirty || updateForm.get('name')?.touched)">
            Name is required.
        </div>
    </div>

    <div class="form-group">
        <div class="label-holder text-white textCol d-flex justify-content-center">
            <label for="ingredients" class="h4 mb-2">Ingredients</label>
        </div>
        <input formControlName="ingredients" type="text" class="form-control" id="ingredients"
               [(ngModel)]="recipe.ingredients" name="ingredients">
        <div *ngIf="updateForm.get('ingredients')?.hasError('required') && (updateForm.get('ingredients')?.dirty || updateForm.get('ingredients')?.touched)">
            Ingredients are required.
        </div>
    </div>

    <div class="form-group">

        <div class="label-holder text-white textCol d-flex justify-content-center">
            <label for="category" class="h4 mb-2">Category</label>
        </div>
        <select class="browser-default custom-select" id="category" name="category" formControlName="category"
                [(ngModel)]="recipe.category">
            <option value="">Select category</option>
            <option value="MAIN_DISH">MAIN_DISH</option>
            <option value="DESSERT">DESSERT</option>
            <option value="COCKTAIL">COCKTAIL</option>
        </select>
        <div *ngIf="updateForm.get('category')?.hasError('required') && (updateForm.get('category')?.dirty || updateForm.get('category')?.touched)">
            Choose a category
        </div>
    </div>

    <div class="button-holder d-flex justify-content-center">
        <button type="submit" [disabled]="!updateForm.valid" class="btn btn-warning  mb-3">Edit recipe</button>
    </div>

</form>