<h2>List of all recipes</h2>
<table class="table table-striped">
    <thead>
    <tr>
        <th>Name:</th>
        <th>Ingredients:</th>
        <th>Category:</th>
        <th>Created By:</th>

    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let recipe of favRecipes">
        <td>
            <div *ngIf="authService.isAuthenticated()">
                <button *ngIf="isFavorite(recipe.id)" (click)="removeFromFavourites(recipe.id)">&#215;</button>
            </div>
            {{ recipe.name }}
        </td>
        <td> {{ recipe.ingredients }}</td>
        <td> {{ recipe.category }}</td>
        <td> {{ recipe.addedBy }}</td>

    </tr>
    </tbody>
</table>