<div class="container">
    <div id="all">
        <h2>List of all Recipes</h2>
        <single-list-component category="All" [favorites]="favorites"
                                (addToFavorites)="addToFavourites($event)" (isFavorite)="isFavorite($event)" (removeFromFavorites)="removeFromFavourites($event)"></single-list-component>
    </div>
    <div id="mainDishes">
        <single-list-component category="Main Dishes" [favorites]="favorites"
                                (addToFavorites)="addToFavourites($event)" (isFavorite)="isFavorite($event)" (removeFromFavorites)="removeFromFavourites($event)"></single-list-component>
    </div>
    <div id="desserts">
        <h2>List of Desserts recipes</h2>
        <single-list-component category="Desserts" [favorites]="favorites"
                                (addToFavorites)="addToFavourites($event)" (isFavorite)="isFavorite($event)" (removeFromFavorites)="removeFromFavourites($event)"></single-list-component>
    </div>
    <div id="cocktails">
        <h2>List of Cocktails recipes</h2>
        <single-list-component category="Cocktails" [favorites]="favorites"
                                (addToFavorites)="addToFavourites($event)" (isFavorite)="isFavorite($event)" (removeFromFavorites)="removeFromFavourites($event)"></single-list-component>
    </div>
</div>

