<h2>List of all recipes</h2>
<table class="table table-striped">
    <thead>
    <tr>
        <th>Name:</th>
        <th>Ingredients:</th>
        <th>Category:</th>
        <th>Created By:</th>
        <th>Action:</th>

    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let recipe of recipes">
        <td>
            {{ recipe.name }}
        </td>
        <td> {{ recipe.ingredients }}</td>
        <td> {{ recipe.category }}</td>
        <td> {{ recipe.addedBy }}</td>
        <td>
            <div *ngIf="this.authService.isAuthenticated()" class="button-box">
                <button class="btn btn-primary" (click)="editRecipe(recipe.id)">Edit</button>
                <button class="btn btn-danger" (click)="deleteRecipe(recipe.id)">Delete</button>
            </div>

        </td>
    </tr>
    </tbody>
</table>